@font-face {
    font-family: 'Playfair';
    font-weight: 400;
    src: url('../fonts/PlayfairDisplay-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: 400;
}